version: 6.6.0
development: &dev
  # url: https://sul-solr.stanford.edu/solr/argo_stage
  url: http://localhost:8983/solr/dev
test: &test
  url: http://localhost:8983/solr/dorfetcher-test
staging:
  <<: *dev
production: &prod
  <<: *dev
